@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <input type="hidden" id="id" value="${withdrawApplicationId}">
                <div class="col-sm-6">
                    <#input id="errorMessage" name="提现反馈" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WithdrawApplicationInfoDlg.FailureFeedbackSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WithdrawApplicationInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/withdrawApplication/withdrawApplication_info.js"></script>
@}
