@layout("/common/_container.html"){
<div class="col-sm-6  col-sm-offset-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户管理</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="border:none !important; ">
                            <div class="form-horizontal" id="userInfoForm">

                                <input type="hidden" id="id" value="${user.id}">
                                <input type="hidden" id="sexValue" value="${user.sex}">
                                <input type="hidden" id="employeeTypeValue" value="${user.employeeType}">
                                <input type="hidden" id="maritalStatusValue" value="${user.maritalStatus}">
                                <input type="hidden" id="registrationTypeValue" value="${user.registrationType}">
                                <input type="hidden" id="educationValue" value="${user.education}">
                                <input type="hidden" id="politicalOutlookValue" value="${user.politicalOutlook}">


                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <h3>基本信息</h3><hr>
                                        <#avatar id="avatar" name="头像" underline="true" avatarImg="${user.avatar}"/>

                                        <#input id="account" name="账户" underline="true" value="${user.account}" disabled="disabled" />

                                        <#input id="name" name="姓名" underline="true" value="${user.name}"/>

                                        <#input id="birthday" name="出生日期" underline="true" type="text" value="${user.birthday}"/>

                                        <!--<#select id="sex" name="性别" underline="true" value="${user.sex}">-->
                                        <!--<option value="1">男</option>-->
                                        <!--<option value="2">女</option>-->
                                        <!--</#select>-->
                                        <#input id="balance" name="余额" underline="true" value="${user.balance}" disabled="disabled"/>

                                        <#input id="phone" name="电话" underline="true" value="${user.phone}"/>

                                        @if(isNotEmpty(user.usernumber)){
                                        <#input id="usernumber" name="员工编号" underline="true" value="${user.usernumber}" disabled="disabled"/>
                                        @}
                                        <#input id="alipay" name="支付宝号" underline="true" value="${user.alipay}"/>
                                        <#input id="roleid" name="角色" underline="true" value="${roleName}" disabled="disabled"/>

                                        <#input id="email" name="邮箱" underline="true" type="email" value="${user.email}"/>

                                        <#input id="officeAddress" name="办公地点" disabled="disabled" underline="true" value="${user.officeAddress}"/>

                                        <#input id="entryTime" name="入职时间" disabled="disabled" underline="true" value="${user.entryTime}"/>

                                        <#input id="wechatid" name="微信" underline="true" value="${user.wechatid}"/>

                                        <#input id="qqid" name="QQ" underline="true" value="${user.qqid}"/>

                                        <#input id="sinaid" name="微博" underline="true" value="${user.sinaid}"/>
                                </div>

                                <div class="col-sm-6">
                                    <div id="driverInfoContent">
                                        <#input id="nation" name="民族" underline="true" value="${user.nation}"/>
                                        <#select id="maritalStatus" name="婚姻状况" underline="true" value="${user.maritalStatus}">
                                        <option value="1">未婚</option>
                                        <option value="2">已婚</option>
                                        <option value="3">离异</option>
                                        </#select>
                                        <#input id="idcard" name="身份证号" underline="true" value="${user.idcard}"/>
                                        <#select id="registrationType" name="户籍类型" underline="true" value="${user.registrationType}">
                                        <option value="1">城镇</option>
                                        <option value="2">农村</option>
                                        </#select>
                                        <#input id="idAddress" name="身份证地址" disabled="disabled" underline="true" value="${user.idAddress}"/>

                                        <#input id="certificateValidityPeriod" name="证件有效期" disabled="disabled" underline="true" value="${user.certificateValidityPeriod}"/>
                                        <h3>其他信息</h3><hr>
                                        @if(isNotEmpty(user.passnum)){
                                        <#input id="passnum" name="总文章数" underline="true" value="${user.passnum}" disabled="disabled"/>
                                        @}
                                        @if(isNotEmpty(user.receivenum)){
                                        <#input id="receivenum" name="每日上限" underline="true" value="${user.receivenum}" disabled="disabled"/>
                                        @}
                                        <#select id="education" name="学历" underline="true" value="${user.education}">
                                        <option value="1">本科</option>
                                        <option value="2">大专</option>
                                        <option value="3">博士</option>
                                        <option value="4">硕士</option>
                                        <option value="5">高中</option>
                                    </#select>
                                    <#input id="university" name="毕业院校" underline="true" value="${user.university}"/>

                                    <#input id="graduationTime" name="毕业时间" underline="true"  type="text" value="${user.graduationTime}"/>

                                    <#input id="major" name="所学专业" underline="true" value="${user.major}"/>

                                    <#input id="firstTimeWorke" name="首次参加工作时间" underline="true" type="text" value="${user.firstTimeWorke}"/>
                                    <#input id="currentAddress" name="现住地址" underline="true" value="${user.currentAddress}"/>

                                    <#select id="politicalOutlook" name="政治面貌" underline="true" value="${user.politicalOutlook}">
                                    <option value="null">无</option>
                                    <option value="1">团员</option>
                                    <option value="2">党员</option>
                                    </#select>

                                    <#input id="socialSecurityAccount" name="个人社保账号" underline="true" value="${user.socialSecurityAccount}"/>
                                    <#input id="providentFundAccount" name="个人公积金账号" value="${user.providentFundAccount}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
                                <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
                                </div>
                            </div>

                            <div class="row btn-group-m-t">
                                <div class="col-sm-10">
                                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoDlg.editSubmit()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/system/user/user_info.js"></script>
<script>
    laydate.render({
        elem: '#birthday'
    });
    laydate.render({
        elem: '#graduationTime'
    });
    laydate.render({
        elem: '#firstTimeWorke'
    });
    laydate.render({
        elem: '#entryTime'
    });
    laydate.render({
        elem: '#certificateValidityPeriod'
    });
</script>
@}
