@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文章记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="articleNum" name="文章编号" placeholder="请输入文章编号" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="usernumber" name="用户编号" placeholder="请输入用户编号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ArticleRecord.search()"/>
                                <!--<#button name="重置" icon="fa-trash" clickFun="ArticleRecord.resetSearch()" space="true"/>-->
                            </div>
                        </div>
                    </div>
                    <#table id="ArticleRecordTable"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/system/articleRecord/articleRecord.js"></script>

@}
