@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文章发布地址管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ArticlePublishAddress.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ArticlePublishAddressTableToolbar" role="group">
                            @if(shiro.hasPermission("/articlePublishAddress/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ArticlePublishAddress.openAddArticlePublishAddress()"/>
                            @}
                            @if(shiro.hasPermission("/articlePublishAddress/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ArticlePublishAddress.openArticlePublishAddressDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/articlePublishAddress/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="ArticlePublishAddress.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ArticlePublishAddressTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/articlePublishAddress/articlePublishAddress.js"></script>
@}
