@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文章默认售价管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="DefaultUnitPriceTableToolbar" role="group">
                            @if(shiro.hasPermission("/defaultUnitPrice/update")){
                                <#button name="修改" icon="fa-edit" clickFun="DefaultUnitPrice.openDefaultUnitPriceDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="DefaultUnitPriceTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/defaultUnitPrice/defaultUnitPrice.js"></script>
@}
