<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.OperateStatisticsMonthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.OperateStatisticsMonth">
        <id column="id" property="id"/>
        <result column="receive" property="receive"/>
        <result column="user_id" property="userId"/>
        <result column="abolish" property="abolish"/>
        <result column="statistics_time" property="statisticsTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, receive, user_id, abolish, statistics_time
    </sql>

    <!--插入字段-->
    <sql id="Insert_Column">
        receive, user_id, abolish, statistics_time
    </sql>

    <!--OperateStatisticsMonth statisticOperatorLastMonth(int operatorId);-->
    <select id="statisticOperatorLastMonth" resultType="cn.stylefeng.guns.modular.system.model.OperateStatisticsMonth">
        select sum(receive) receive, sum(abolish) abolish
        from operate_statistics_day
        where user_id = #{operatorId}
        and date_format(statistics_time,'%Y-%m') = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')
    </select>

    <!--int insertOperateStatisticsMonth(List<OperateStatisticsMonth> operateStatisticsMonths);-->
    <insert id="insertOperateStatisticsMonth" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into operate_statistics_month
        (<include refid="Insert_Column"/>)
        values
        <foreach collection="list" item="OperateStatisticsMonth" index="index" separator=",">
            (#{OperateStatisticsMonth.receive}, #{OperateStatisticsMonth.userId}, #{OperateStatisticsMonth.abolish}, sysdate()
            )
        </foreach>
    </insert>

    <!--月统计列表查询-->
    <select id="selectMonthList" resultType="map">
        select <include refid="Base_Column_List"/> from operate_statistics_month
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and (statistics_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
            </if>
        </where>
    </select>

</mapper>
