@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>话题任务中心</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="title" name="名称" placeholder="根据主/副标题查询文章" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="timelinessCategory" name="时效性" >
                                <option value="">全部</option>
                                <option value="1">非实时或知识类文章</option>
                                <option value="2">精品类文章</option>
                                <option value="3">实时类文章</option>
                                <option value="4">其他类文章</option>
                                </#SelectCon>
                             </div>
                            <div class="col-sm-3">
                                <#SelectCon id="type" name="文章分类" >
                                <option value="">全部</option>
                                <option value="1">育儿</option>
                                <option value="2">财经</option>
                                <option value="3">军事</option>
                                <option value="4">汽车</option>
                                <option value="5">科技</option>
                                <option value="6">国际</option>
                                <option value="7">游戏</option>
                                <option value="8">时尚</option>
                                <option value="9">历史</option>
                                <option value="10">社会</option>
                                <option value="11">美食</option>
                                <option value="12">探索</option>
                                <option value="13">旅游</option>
                                <option value="14">体育</option>
                                <option value="15">健康</option>
                                <option value="16">养生</option>
                                <option value="17">娱乐</option>
                                <option value="18">搞笑</option>
                                <option value="19">教育</option>
                                <option value="20">星座</option>
                                <option value="21">其他</option>
                                </#SelectCon>
                             </div>
                            <!--<div class="col-sm-3">-->
                                <!--<#SelectCon id="taskStatus" name="任务状态" >-->
                                <!--<option value="">全部</option>-->
                                <!--<option value="1">待领取</option>-->
                                <!--<option value="2">已领取</option>-->
                            <!--</#SelectCon>-->
                            <!--</div>-->
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ArticleTask.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="ArticleTask.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ArticleTaskTableToolbar" role="group">
                            @if(shiro.hasPermission("/articleTask/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ArticleTask.openAddArticleTask()"/>
                            @}
                            @if(shiro.hasPermission("/articleTask/update")){
                            <#button name="修改" icon="fa-edit" clickFun="ArticleTask.openArticleTaskDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/articleTask/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="ArticleTask.delete()" space="true"/>
                            @}

                            <form class="form-horizontal" id="form_table" action="/articleTask/import" enctype="multipart/form-data" method="post">
                                <button type="submit" class="btn btn-primary" icon="fa-upload">导入</button>
                                <input class="form-input" type="file" name="file">
                            </form>

                            <form class="form-horizontal"  action="/articleTask/downloadExcel" enctype="multipart/form-data" method="post">
                                <button type="submit" class="btn btn-primary" icon="fa-upload">下载模版</button>
                            </form>
                        </div>
                        <#table id="ArticleTaskTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/articleTask/articleTask.js"></script>
@}
