@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>可领取文章任务</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="title" name="名称" placeholder="根据主/副标题查询文章" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="timelinessCategory" name="时效性" >
                                <option value="">全部</option>
                                <option value="1">非实时或知识类文章</option>
                                <option value="2">精品类文章</option>
                                <option value="3">实时类文章</option>
                                <option value="4">其他类文章</option>
                            </#SelectCon>
                        </div>
                        <div class="col-sm-3">
                            <#button name="搜索" icon="fa-search" clickFun="ArticleTask.search()"/>
                            <#button name="重置" icon="fa-trash" clickFun="ArticleTask.resetSearch()" space="true"/>
                        </div>
                    </div>
                    <div class="hidden-xs" id="ArticleTaskTableToolbar" role="group">
                        @if(shiro.hasPermission("/articleTask/receive")){
                        <#button name="领取" icon="fa-plus" clickFun="ArticleTask.receiveArticleTask()"/>
                        @}
                    </div>
                    <#table id="ArticleTaskTable"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/system/articleTask/availableArticleTask.js"></script>
@}
