@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>已完成文章</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="condition" name="主标题" placeholder="主标题/文章编号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="NewArticle.search()"/>
                            </div>
                        </div>

                        </div>
                        <div class="hidden-xs" id="NewArticleTableToolbar" role="group">
                            @if(shiro.hasPermission("/newArticle/update")){
                            <#button name="修改" icon="fa-edit" clickFun="NewArticle.openNewArticleDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="NewArticleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/layoutCompletedArticle/newArticle.js"></script>
@}
