@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="receive" name="领取数" value="${item.receive}" underline="true"/>
                            <#input id="userId" name="用户id" value="${item.userId}" />
                </div>

                <div class="col-sm-6">
                            <#input id="articleNum" name="配图文章数" value="${item.articleNum}" underline="true"/>
                            <#input id="pictureNum" name="配图图片数" value="${item.pictureNum}" underline="true"/>
                            <#input id="statisticsTime" name="统计日期" value="${item.statisticsTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LayoutStatisticsDayInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LayoutStatisticsDayInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/layoutStatisticsDay/layoutStatisticsDay_info.js"></script>
@}
